html{height:100%} 
body {
    background: #111220;
    background-size: cover;
    background-repeat: no-repeat;
   }
.title{
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    font-size: 80px; 
    font-weight: bold; 
    margin-top: 0px;
    margin-bottom: 1px; 
}
.p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: antiquewhite;
}
.button{ 
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: top;
    background-color: #61e9f3;
    border-color: #000000;
}
.input{
    border-color: #000000;
    margin: 2px;
    width: 142px;
    background-color: #61e9f3;
}
li{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    max-width: 200px;
    padding: 8px;
    margin: 8px;
    background: #61e9f3;
    border: 1px dotted #ddd;
} 
